<h3>https://www.netjstech.com/2020/04/angular-event-binding-with-examples.html</h3>
<h3>Event Binding Example</h3>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <label for="name" class="col-form-label">Name:</label>
        <input class="form-control" placeholder="Enter name" id="name">        
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="onButtonClick()" [disabled]="flag">Submit</button>
      </div>
    </div>
  </div>
